body {
  width: 1000px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 20px auto;
}

#overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

#modal {
    width: 400px;
    height: auto;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    background-color: #505050;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}

#modalTable {
  width: 100%;
  height: auto;
}

#closeModal  {
  position: relative;
  width: 5px;
  height: 5px;
  margin: 5px;
  top: -5px;
  right: -375px;
  cursor: pointer;
}

#checkout {
  background-color: #1AB53E;
  cursor: pointer;
  margin: 20px 0px 10px 0px;
}

#header {
  width: 100%;
  height: 100px;
  cursor: default;
}

#logo {
  float: left;
  width: 18%;
  height: 100%;
}

#logo > img {
  height: 100%;
  width: 100%;
}

#welcomeBanner {
  float: left;
  margin-left: 15px;
  width: calc(82% - 15px);
  height: 100%;
  background-color: #2A9FD6;
  border-radius: 8px;
}

#welcomeBanner > h1 {
  text-align: center;
  color: #FFFFFF;
}

#cartPriceContainer {
  float: right;
  background-color: #1AB53E;
  cursor: pointer;
}

#inactiveTimeContainer {
  float: right;
}

#mainContent {
  width: 100%;
  height: 1100px;
  margin-top: 20px;
}

#navigationMenu {
  float: left;
  width: 18%;
  height: 100%;
}

#navigationList {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#navigationList > li {
  height: 43px;
  margin-top: 15px;
  text-align: center;
}

#navigationList > li > a {
  border-radius: 4px;
  padding: 10px 15px;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #2A9FD6;
}

#navigationList > li > a:hover {
  color: #D7612A;
  background-color: #2AD761;
  font-family: "Arial Black", Gadget, sans-serif;
}

#productList {
  float: left;
  margin-left: 15px;
  width: calc(82% - 15px);
  height: 100%;
}

.product {
  width: 33%;
  height: 25%;
  float: left;
  text-align: center;
}

.product:hover {
  background-color: #969393;
}

.product:hover .product-price {
  display: block;
}

.product:hover > .product-inner > img {
  opacity: 0.4;
}

.product-price {
  display: none;
  text-align: center;
  position: relative;
  top: -28px;
  cursor: default;
  background-color: rgba(210,210,210,0.5);
}

.product-cart {
  display: none;
  position: absolute;
  height: calc(100% - 25px);
  width: 100%;
}

.product:hover .product-cart {
  display: block;
}

.product-cart > img {
  height: 100%;
  width: 100%;
}

.product-add-remove {
  display: none;
  position: absolute;
  width: 100%;
  top: 80px;
}

.product-add-remove > button {
  color: #FFFFFF;
  width: 70px;
  height: 30px;
  border: 0px;
  opacity: 0.8;
}

.add {
  background-color: #358A1C;
  cursor: pointer;
}

.remove {
  background-color: #DE004E;
  cursor: pointer;
}

.product:hover .product-add-remove {
  display: block;
}

.product > h3 {
  cursor: default;
  margin-top: 5px;
  top: 5px;
}

.product-inner {
  height: 200px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  position: relative;
}

.product-inner > img {
  height: 100%;
  width: 100%;
}

#footer {
  width: 100%;
  height: 70px;;
  margin: 0 auto;
  background-color: #2A9FD6;
  border-radius: 8px;
  text-align: center;
  padding-top: 30px;
  margin-top: 20px;
}

#footer > span {
  color: #FFFFFF;
}

